body {
    background-image: url("7.png");
}

button {
    width: 110px;
    height: 40px;
    font: bold 16px tahoma;
    color: darkgreen;
    border-radius: 5px;
}

.govde {
    width: 500px;
    height: 200px;
    background: #000000;
    border-radius: 20px;
    margin: 100px auto;
    font: bold 24px tahoma;
    color: #ffffff;
    position: relative;
    padding: 90px 0 0 5px;
}

h4 {
    position: absolute;
    text-align: center
}

.btn {
    width: 500px;
    height: 100px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    line-height: 100px;
}